body {
    background-color: purple;
    font-size: 20px;
    font-family: 'Trebuchet MS', sans-serif;
    color: white;
    margin: 0;
  }
  
  header {
    width: 100%;
    background-color: lightblue;
  }
  
  a {
    background-color: blue;
    color: white;
    padding: 1vw;
    text-decoration: none;
  }
  
  a:hover {
    color: yellow;
    transition: 0.3s;
  
  }
  
  th, td {
    border: 1px solid black;
  }
  